* {
    box-sizing: border-box;
}

body {
    background-color: white;
    position: relative;
    font-family: "Arial", Helvetica, sans-serif;
    user-select: none;
    z-index: 0;
    overflow: hidden;
    margin: 0;
}

a {
    text-decoration: none;
}

.app_logo {
    background-color: green;
    position: relative;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
}

.logo_image_container {
    background-color: blue;
    width: 200px;
    height: 200px;

}

.logo_image {
    position: relative;
    transform: scale(0.7);
}

.logo_text {
    background-color: orange;
    position: relative;
    font-size: 100px;
    width: 470px;
    height: 100px;
}

a {
    font-size: 25px;
}

.options_container {
    background-color: green;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 125px;
}

.account_text {
    background-color: green;
    width: 95px;
    height: 25px;
    top: 120px;
}

.about_text {
    background-color: green;
    width: 65px;
    height: 25px;
    top: 155px;
}

.login_text {
    background-color: purple;
    width: 60px;
    height: 25px;
    top: 190px;
}

.signup_text {
    background-color: pink;
    width: 175px;
    height: 25px;
    top: 225px;
}

.logout_text {
    background-color: violet;
    width: 80px;
    height: 25px;
    top: 260px;
}