* {
    box-sizing: border-box;
}

body {
    background-color: white;
    position: relative;
    font-family: "Arial", Helvetica, sans-serif;
    user-select: none;
    z-index: 0;
    overflow: hidden;
    margin: 0;
}

/* navigation menu */
.main_navbar {
    display: block;
}

.main_navbar_header {
    /* background-color: green; */
    position: absolute;
    /* box-shadow: 0 0 3px #000000; */
}

.main_navbar_header_menu_container {
    /* background-color: blue; */
    position: relative;
}

/* .main_navbar_header_menu {
    position: relative;
    transform: scale(0.15);
} */

.main_navbar_header_logo_container {
    /* background-color: orange; */
    position: relative;
}

.main_navbar_header_logo {
    /* margin: 10px; */
    position: relative;
    transform: scale(0.3);
}

.main_navbar_header_text_container {
    /* background-color: orange; */
    position: relative;
}

.main_navbar_header_text {
    position: relative;
    font-size: 50px;
}

.main_navbar_header_nav_container {
    /* background-color: aqua; */
    position: relative;
    font-size: 18px;
}

.main_navbar_header_nav_search_logo_container {
    /* background-color: orange; */
    box-shadow: 0 0 3px #000000;
    position: relative;
}

.main_navbar_header_nav_search_logo {
    position: relative;
    transform: scale(0.15);
}

.main_navbar_header_nav_search_text {
    /* background-color: darkblue; */
    color: Grey;
    position: relative;

}

.main_navbar_header_nav_about_text {
    /* background-color: fuchsia; */
    position: relative;
}

.main_navbar_header_nav_account_text {
    /* background-color: plum; */
    position: relative;
}

.main_navbar_header_nav_account_container {
    /* background-color: orange; */
    position: relative;
}

.main_navbar_header_nav_account_login {
    /* background-color: red; */
    position: relative;
}

.main_navbar_header_nav_account_signup {
    /* background-color: blue; */
    position: relative;
}

.main_navbar_header_nav_account_logout {
    /* background-color: plum; */
    position: relative;
}

/*form*/
.login_form {
    /* background-color: orange; */
    font-size: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px #888;
    border-radius: 10px;
    position: absolute;
}

.login_form_email_title {
    /* background-color: red; */
    font-size: 22px;
    padding: 5px;
    position: relative;
}

.login_form_email_input {
    /* background-color: blue; */
    position: relative;
}

.login_form_password_title {
    /* background-color: green; */
    font-size: 22px;
    padding: 5px;
    position: relative;
}

.login_form_password_reset_title {
    /* background-color: lightblue; */
    font-size: 15px;
    padding: 5px;
    position: relative;
}

.login_form_password_input {
    /* background-color: pink; */
    position: relative;
}

.login_form_submit_button {
    /* background-color: purple; */
    padding: 5px;
    font-size: 20px;
    position: relative;
}