* {
    box-sizing: border-box;
}

body {
    background-color: white;
    position: relative;
    font-family: "Arial", Helvetica, sans-serif;
    user-select: none;
    z-index: 0;
    overflow: hidden;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    /* Set this to the same color as your normal link color */
}

/* Active link style (when the link is clicked) */
a:active {
    color: black;
    /* Set this to your desired color when the link is active */
}

/* log out window */
.logged_out_window {
    /* background-color: orange; */
    font-size: 18px;
    padding: 20px;
    box-shadow: 0px 0px 5px #888;
    border-radius: 10px;
    position: absolute;
}

.logged_out_window_header {
    /* background-color: red; */
    font-size: 23px;
    position: relative;
}

.logged_out_window_login_option {
    /* background-color: yellow; */
    padding: 5px;
    position: relative;
}

.logged_out_window_signup_option {
    /* background-color: green; */
    padding: 5px;
    position: relative;
}