<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Notes App</title>
    <style>
    </style>
    <!-- <title>{% block title %}Home{% endblock %}</title> -->
</head>

<body>

    <nav id="main_navbar" class="main_navbar">
        <div id="main_navbar_header" class="main_navbar_header">
            <div id="main_navbar_header_logo_container" class="main_navbar_header_logo_container">
                <img id="main_navbar_header_logo" class="main_navbar_header_logo" src="../static/images/logo250.png"
                    alt="logo image" />
            </div>
            <div id="main_navbar_header_text_container" class="main_navbar_header_logo_container">
                <p id="main_navbar_header_text" class="main_navbar_header_text">Notes App</p>
            </div>
            <div id="main_navbar_header_menu" class="main_navbar_header_menu">
                <p id="main_navbar_header_About" class="main_navbar_header_About">About</p>
                <p id="main_navbar_header_About" class="main_navbar_header_About">Account</p>
                <!-- <p id="main_navbar_header_About" class="main_navbar_header_About">Draw</p> -->
                <p id="main_navbar_header_About" class="main_navbar_header_About">Search</p>
            </div>
        </div>

    </nav>
</body>

<!-- <script> src = "{{ url_for('static', filename='js/index.js')}}"</script> -->
<script src="../static/js/index.js"></script>

</html>