<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Notes App Home</title>
</head>

<body>
    <div>
        <div id="logo_container" class="logo_container">
            <img id="logo_image" class="logo_image">
            <p id="logo_text" class="logo_text">Notes App</p>
        </div>
        <div id="home_account_container" class="home_account_container">
            <p id="login_text" class="login_text">Login</p>
            <p id="signup_text" class="signup_text">Sign-up</p>
            <p id="logout_text" class="logout_text">Logout</p>
        </div>
    </div>
</body>

<!-- <script> src = "{{ url_for('static', filename='js/index.js')}}"</script> -->
<!-- <script src="../static/js/_____.js"></script> -->

</html>