{% block content %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div id="logo_container" class="logo_container">
        <img id="logo_image" class="logo_image" src="../static/images/logo250.png">
    </div>

    <p id="logo_text" class="logo_text ">Notes App</p>
    <p id="account_text" class="account_text account_options_text" href="/account">Account</p>
    <p id="about_text" class="about_text account_options_text" href="/about">About</p>
    <p id="login_text" class="login_text account_options_text" href="/login">Login</p>
    <p id="signup_text" class="signup_text account_options_text" href="/sign-up">Create Account</p>
    <p id="logout_text" class="logout_text account_options_text" href="/logout">Logout</p>
</body>

<script src="../static/js/home.js"></script>

</html>
{% endblock%}