{% extends "index_user.html" %}
{% block title %}Log Out{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/log_out.css') }}">

<body>
    <div id="logged_out_window" class="logged_out_window">
        <p id="logged_out_window_header" class="logged_out_window_header">Logged out</p>
        <a id="logged_out_window_login_option" class="logged_out_window_login_option"
            href="{{ url_for ('views.login') }}">Log In</a>
        <a id="logged_out_window_signup_option" class="logged_out_window_signup_option"
            href="{{ url_for ('views.sign_up') }}">Sign Up</a>
    </div>
</body>

<script src="{{ url_for('static', filename='js/log_out.js') }}"></script>

{% endblock %}