{% extends "index_user.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">

<body>
    <form id="signup_form" class="signup_form" action="/sign-in" method="post">
        <label id="signup_form_email_header" class="signup_form_email_header" for="email">Create your
            account</label><br>
        <label id="signup_form_email_title" class="signup_form_email_title" for="email">Email</label><br>
        <input id="signup_form_email_input" class="signup_form_email_input" type="text" name="email"><br>
        <label id="signup_form_password_title" class="signup_form_password_title" for="password">Password</label>
        <input id="signup_form_password_input" class="signup_form_password_input" type="text" name="password"><br>
        <input id="signup_form_submit_button" class="signup_form_submit_button" type="submit" value="Sign Up">
    </form>
</body>

<script src="{{ url_for('static', filename='js/sign_up.js') }}"></script>

{% endblock %}